<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Private Contacts
  ~ Copyright (c) 2022.
  ~ Florian Gubler
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.abwesend.privatecontacts">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.PrivateContactsApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivateContacts">

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.PrivateContacts.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".infrastructure.phonestate.PhoneStateReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
